---
import Container from "../Container.astro";
import Link from "../link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Image } from "astro:assets";
import logo from '@/assets/images/logo.png'

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About Us",
    path: "/about",
  },
  {
    title: "Services",
    path: "/about",
    children: [
      { title: "Web Devlopment", path: "/service/webdev" },
      { title: "Search Engine Optimization", path: "/service/seo" },
      { title: "Social Media Marketing", path: "/service/marketing" },
      { title: "Graphic Design", path: "/service/graphicsdesign" },
      { title: "Lead Generation", path: "/service/leadgeneration" },
      { title: "Marketing Automation", path: "/service/mautomation" },
      { title: "AI Enhanced Optimization", path: "/service/aioptimization" },
      { title: "Content Writing", path: "/service/contentwriting" },
      { title: "Content Marketing", path: "/service/cmarketing" },
      { title: "Collab Membership", path: "/service/cmembership" },
      { title: "Salesforce", path: "/service/salesforce" },
    ],
  },
  {
    title: "Our Work",
    path: "/blog",
  },
  {
    title: "Our Clients",
    path: "/contact",
  },
  {
    title: "Contact Us",
    path: "/contact",
  },
];
---

<div class="sticky top-0 lg:top-0 w-full z-50 backdrop-blur-xl shadow-2xl shadow-gray-600/5 border-gray-100 dark:border-gray-800">
  <Container >
    <header class="flex flex-col lg:flex-row z-10 justify-between items-center py-3 ">
      <!-- z-20 w-full bg-white/90 dark:bg-gray-900/80 backdrop-blur navbar  peer-checked:navbar-active dark:shadow-none -->
        <Astronav closeOnClick >
          <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/">
            <Image src={logo} alt="LOGO" class={"h-10 w-auto"} loading={"eager"}/>
            </a>
            <div class="block lg:hidden">
              <MenuIcon class="w-6 h-6 dark:text-white" />
            </div>
          </div>
          <MenuItems class="hidden  w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col  lg:flex-row lg:gap-3">
              {
                menuitems.map((item, index) => (
                  <>
                    {item.children && (
                      <Dropdown
                        title={item.title}
                        children={item.children}
                        lastItem={index === menuitems.length - 1}
                      />
                    )}
  
                    {!item.children && (
                      <li>
                        <a
                          href={item.path}
                          class="flex lg:px-3 py-2 items-center font-medium text-white hover:text-gray-200">
                          <span> {item.title}</span>
                        </a>
                      </li>
                    )}
                  </>
                ))
              }
  
          </MenuItems>
  
        </Astronav>
        <div>
          <div class="hidden lg:flex items-center gap-4">
  
            <Link href="#" size="lg" style="primary" >Call Us</Link>
          </div>
        </div>
    </header>
  </Container>
</div>

                                  
